[Unit]
Description=Check secondary services every five minutes

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=10
Unit=probes.service

[Install]
WantedBy=timers.target
